body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}


body {
    font-family: monospace;
    margin: 30px;
}

textarea {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    white-space: pre;
}
